{% extends "layout.html" %}

{% block page_title %}
  Open Registers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk/service-toolkit#components">Components</a></li>
      <li><a href="index.html">GOV.UK Registers</a></li>
      <li><a href="/registers.html">Registers collection</a></li>
      <li><a href="local-autorities-uk.html">Local authorities in the UK</a></li>
      <li>Register updates</li>
    </ol>
  </div>
  <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge title">Register updates</h1>
          <p>View all updates to the data collected from <a href="">Local authority eng</a>, <a href="">Local authority sct</a>, <a href="">Local authority type</a>, <a href="">Principal local authority</a> and <a href="">Local authority nir</a> registers to create the Local Authorities in the UK register.</p>
          <div class="form-group">
            <label><h2 class="heading-small">Search for a record</h2></label>
            <input class="form-control" id="search" name="search">
          </div>
          <div class="timeline">
            <div class="update-container">
              <div class="update">
                <div class="pointer"></div>
                <span class="date">15 August 2017 <span class="divider">|</span> <a href="">Local authority sct</a></span>
                <h2 class="heading-medium">West Dunbartonshire</h2>
                <div class="table-wrapper">
                <table>
                  <thead>
                    <th>Field</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>name</td>
                      <td>Westt Dunbartonshire</td>
                      <td>West Dunbartonshire</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <div class="update">
                <div class="pointer"></div>
                <span class="date">28 July 2017 <span class="divider">|</span> <a href="">Local authority eng</a></span>
                <h2 class="heading-medium">Worthing</h2>
                <div class="table-wrapper">
                <table>
                  <thead>
                    <th>Field</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>local-authority-eng</td>
                      <td class="not-found">No original data</td>
                      <td>WOT</td>
                    </tr>
                    <tr>
                      <td>local-authority-type</td>
                      <td class="not-found">No original data</td>
                      <td>Non-metropolitan district</td>
                    </tr>
                    <tr>
                      <td>name</td>
                      <td class="not-found">No original data</td>
                      <td>Worthing</td>
                    </tr>
                    <tr>
                      <td>official-name</td>
                      <td class="not-found">No original data</td>
                      <td>Worthing Borough Council</td>
                    </tr>
                    <tr>
                      <td>start-date</td>
                      <td class="not-found">No original data</td>
                      <td>1905-06-25  </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <div class="update">
                <div class="pointer"></div>
                <span class="date">21 July 2017 <span class="divider">|</span> <a href="">Local authority eng</a></span>
                <h2 class="heading-medium">Greater London</h2>
                <div class="table-wrapper">
                <table>
                  <thead>
                    <th>Field</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>official-name</td>
                      <td>The Greater London Authority</td>
                      <td>Greater London Authority</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <div class="update">
                <div class="pointer"></div>
                <span class="date">18 June 2017 <span class="divider">|</span> <a href="">Principal local authority</a></span>
                <h2 class="heading-medium">Torfaen</h2>
                <div class="table-wrapper">
                <table>
                  <thead>
                    <th>Field</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>name</td>
                      <td>Tor-faen</td>
                      <td>Torfaen</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <div class="update">
                <div class="pointer"></div>
                <span class="date">07 March 2017 <span class="divider">|</span> <a href="">Local authority nir</a></span>
                <h2 class="heading-medium">Derry</h2>
                <div class="table-wrapper">
                <table>
                  <thead>
                    <th>Field</th>
                    <th>Old value</th>
                    <th>New value</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>end-date</td>
                      <td class="not-found">No previous value</td>
                      <td>2015-03-31</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</main>

{% endblock %}
