{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% set homepage_url = 'https://registers.cloudapps.digital/' %}
{% set logo_link_title = 'Go to GOV.UK Registers home page' %}
{% set global_header_text = "GOV.UK <span id='product-name'>Registers</span>"|safe %}

{% block inside_header %}
  <strong class="phase-tag">ALPHA</strong>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
<!--         <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
        </a>
 -->
        <ul id="proposition-links">
          <li><a href="https://registers.cloudapps.digital/using-registers">Using registers</a></li>
          <li><a href="/registers.html">Registers Collection</a></li>
          <li><a href="https://registers.cloudapps.digital/support">Support</a></li>
          <li><a href="https://registers-docs.cloudapps.digital/">Documentation</a></li>
        </ul>

      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
