{% extends "layout.html" %}

{% block page_title %}
  Open Registers
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="breadcrumbs">
      <ol>
        <li><a href="https://www.gov.uk/service-toolkit#components">Components</a></li>
        <li><a href="index.html">GOV.UK Registers</a></li>
        <li><a href="/registers.html">Registers collection</a></li>
        <li>Prison estate</li>
      </ol>
    </div>
    <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge title">
        Prison estate
      </h1>
      <dl class="metadata">
        <dt>Updated:</dt>
        <dd>23/05/17</dd>
        <dt>Managed by:</dt>
        <dd><a href="https://www.gov.uk/government/organisations/ministry-of-justice">Ministry of Justice</a></dd>
      </dl>
      <p>A register of the prison estates in England and Wales as defined by HM Prison and Probation Service.</p>
      <details>
        <summary><span class="summary">What are Registers?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Registers are reliable lists of information managed by one custodian from the government organisation responsible for maintaining the Register’s data.</p>
          <p>
          <a href="https://registers.cloudapps.digital/using-registers">Using Registers</a>
          <br>
          <a href="https://registers.cloudapps.digital/registers">Registers collection</a>
          </p>
        </div>
      </details>
      <details>
        <summary><span class="summary">How do I use this Register in my service?</span></summary>
        <div class="panel panel-border-narrow">
          <p>There are 2 ways to use Registers. You can either:</p>
          <ul class="list-bullet">
          <li>use an <a href="https://registers-docs.cloudapps.digital/#api-documentation-for-registers">application programming interface</a> (API) to automatically pull data from a register into your service</li>
          <li>download the data for this Register and keep your own copy up-to-date</li>
          </ul>
        </div>
      </details>
    </div>
    <div class="column-one-third">
      <h2 class="heading-small">Find out more</h2>
      <ul>
        <li><a href="#">Register updates</a></li>
        <li><a href="https://registers-docs.cloudapps.digital/#api-documentation-for-registers">API documentation</a></li>
        <li><a href="https://www.gov.uk/guidance/creating-a-register">Create a register</a></li>
        <li><a href="https://registers.cloudapps.digital/support">Contact the team</a></li>
      </ul>
    </div>
    </div>
  <div class="search-wrapper">
    <div class="grid-row">
      <div class="column-full">
        <div class="form-group">
          <label class="form-label" for="select-box">Filter by</label>
          <select class="form-control" id="select-box" name="select-box">
            <option>Existing records</option>
            <option>Closed records</option>
            <option>Existing and closed records</option>
          </select>  
        </div>
        <div class="form-group">
          <label>Search for a record</label>
          <input class="form-control" id="search" name="search">
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <h2 class="heading-large">121 records</h2>
        <details>
          <summary><span class="summary">Get a copy of this data</span></summary>
          <div class="panel panel-border-narrow">
            <div class="download-options">
              <p>Download this data as: <a href="#">TSV</a>, <a href="#">CSV</a> or as a <a href="#">Spreadsheet</a>.</p>
              <p>Preview a sample as <a href="#">JSON</a>, <a href="#">YAML</a> or <a href="#">TTL</a>.</p>
            </div>
          </div>
        </details>
        <details>
          <summary><span class="summary">What are the column headings?</span></summary>
          <div class="panel panel-border-narrow">
            <dl>
              <dt>prison-estate</dt>
              <dd>A part of the Prison Estate in England and Wales, including public and contracted prisons, and HMPPS Immigration Removal Centres.</dd>
              <dt>name</dt>
              <dd>The commonly-used name of a record.</dd>
              <dt>start-date</dt>
              <dd>The date a record first became relevant to a register.</dd>
              <dt>end-date</dt>
              <dd>The date a record stopped being applicable.</dd>
            </dl>
          </div>
        </details>
      </div>
    </div>
  </div>
  <div class="grid-row table-view">
    <div class="column-full" id="table-column">
      <div class="table-wrapper scroll">
        <table>
          <thead><tr><th title="Field #1">prison-estate</th>
          <th title="Field #2">name</th>
          <th title="Field #3">start-date</th>
          <th title="Field #4">end-date</th>
          </tr></thead>
          <tbody><tr><td>WO</td>
          <td>HMP Wolds</td>
          <td class="not-found">No data found</td>
          <td>2014-04</td>
          </tr>
          <tr><td>WB</td>
          <td>HMP Wellingborough</td>
          <td class="not-found">No data found</td>
          <td>2012-12-21</td>
          </tr>
          <tr><td>WA</td>
          <td>HMP The Weare</td>
          <td class="not-found">No data found</td>
          <td>2006</td>
          </tr>
          <tr><td>SY</td>
          <td>HMP Shrewsbury</td>
          <td class="not-found">No data found</td>
          <td>2013-03</td>
          </tr>
          <tr><td>SM</td>
          <td>HMP Shepton Mallet</td>
          <td class="not-found">No data found</td>
          <td>2013-02-28</td>
          </tr>
          <tr><td>RD</td>
          <td>HMP Reading</td>
          <td class="not-found">No data found</td>
          <td>2013-11</td>
          </tr>
          <tr><td>PK</td>
          <td>HMP Parkhurst</td>
          <td class="not-found">No data found</td>
          <td>2009-04</td>
          </tr>
          <tr><td>NN</td>
          <td>HMP Northallerton</td>
          <td class="not-found">No data found</td>
          <td>2013-12</td>
          </tr>
          <tr><td>LA</td>
          <td>HMP Lancaster</td>
          <td class="not-found">No data found</td>
          <td>2011-03</td>
          </tr>
          <tr><td>LM</td>
          <td>HMP Latchmere House</td>
          <td class="not-found">No data found</td>
          <td>2011-09</td>
          </tr>
          <tr><td>PT</td>
          <td>HMP Kingston</td>
          <td class="not-found">No data found</td>
          <td>2013-03-28</td>
          </tr>
          <tr><td>KT</td>
          <td>HMP Kennet</td>
          <td class="not-found">No data found</td>
          <td>2016-12</td>
          </tr>
          <tr><td>HY</td>
          <td>HMP Holloway</td>
          <td class="not-found">No data found</td>
          <td>2016-05</td>
          </tr>
          <tr><td>HG</td>
          <td>HMP Hewell Grange</td>
          <td class="not-found">No data found</td>
          <td>2008-06-25</td>
          </tr>
          <tr><td>HR</td>
          <td>HMIRC Haslar</td>
          <td class="not-found">No data found</td>
          <td>2015</td>
          </tr>
          <tr><td>GL</td>
          <td>HMP Gloucester</td>
          <td class="not-found">No data found</td>
          <td>2013</td>
          </tr>
          <tr><td>EV</td>
          <td>HMP Everthorpe</td>
          <td class="not-found">No data found</td>
          <td>2014-04</td>
          </tr>
          <tr><td>NE</td>
          <td>HMP Edmunds Hill</td>
          <td class="not-found">No data found</td>
          <td>2011-04</td>
          </tr>
          <tr><td>DV</td>
          <td>HMIRC Dover</td>
          <td class="not-found">No data found</td>
          <td>2015</td>
          </tr>
          <tr><td>DR</td>
          <td>HMP Dorchester</td>
          <td class="not-found">No data found</td>
          <td>2013-12</td>
          </tr>
          <tr><td>CS</td>
          <td>HMP Castington</td>
          <td class="not-found">No data found</td>
          <td>2011-10-31</td>
          </tr>
          <tr><td>CY</td>
          <td>HMP Canterbury</td>
          <td class="not-found">No data found</td>
          <td>2013-03-31</td>
          </tr>
          <tr><td>CH</td>
          <td>HMP Camp Hill</td>
          <td class="not-found">No data found</td>
          <td>2009-04</td>
          </tr>
          <tr><td>BU</td>
          <td>HMP Bullwood Hall</td>
          <td class="not-found">No data found</td>
          <td>2013-01</td>
          </tr>
          <tr><td>BK</td>
          <td>HMP Brockhill</td>
          <td class="not-found">No data found</td>
          <td>2008-06-25</td>
          </tr>
          <tr><td>BD</td>
          <td>HMP Blundeston</td>
          <td class="not-found">No data found</td>
          <td>2013-09</td>
          </tr>
          <tr><td>BT</td>
          <td>HMP Blakenhurst</td>
          <td class="not-found">No data found</td>
          <td>2008-06-25</td>
          </tr>
          <tr><td>AW</td>
          <td>HMP Ashwell</td>
          <td class="not-found">No data found</td>
          <td>2011-03</td>
          </tr>
          <tr><td>AL</td>
          <td>HMP Albany</td>
          <td class="not-found">No data found</td>
          <td>2009-04</td>
          </tr>
          <tr><td>AK</td>
          <td>HMP Acklington</td>
          <td class="not-found">No data found</td>
          <td>2011-10-31</td>
          </tr>
          <tr><td>WM</td>
          <td>HMP/YOI Wymott</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WS</td>
          <td>HMP/YOI Wormwood Scrubs</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WH</td>
          <td>HMP/YOI Woodhill</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WC</td>
          <td>HMP/YOI Winchester</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WR</td>
          <td>HMP Whitemoor</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WT</td>
          <td>HMP Whatton</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WY</td>
          <td>HMYOI Wetherby</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WN</td>
          <td>HMYOI Werrington</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WE</td>
          <td>HMP Wealstun</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WL</td>
          <td>HMP Wayland</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WI</td>
          <td>HMP/YOI Warren Hill</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WW</td>
          <td>HMP/YOI Wandsworth</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>WD</td>
          <td>HMP Wakefield</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>UK</td>
          <td>HMP Usk and HMP/YOI Prescoed</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>TC</td>
          <td>HMP/YOI Thorn Cross</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>VE</td>
          <td>HMIRC The Verne</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>MT</td>
          <td>HMP The Mount</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>TS</td>
          <td>HMP/YOI Thameside</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SN</td>
          <td>HMP/YOI Swinfen Hall</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SW</td>
          <td>HMP/YOI Swansea</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SL</td>
          <td>HMP Swaleside</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SU</td>
          <td>HMP/YOI Sudbury</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>ST</td>
          <td>HMP/YOI Styal</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SH</td>
          <td>HMP/YOI Stoke Heath</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SK</td>
          <td>HMP Stocken</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>EH</td>
          <td>HMP/YOI Standford Hill</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SF</td>
          <td>HMP Stafford</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>SD</td>
          <td>HMP/YOI Send</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>RH</td>
          <td>HMP Rye Hill</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>RC</td>
          <td>HMP/YOI Rochester</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>RS</td>
          <td>HMP Risley</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>RN</td>
          <td>HMP Ranby</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>PN</td>
          <td>HMP/YOI Preston</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>PD</td>
          <td>HMP/YOI Portland</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>PB</td>
          <td>HMP/YOI Peterborough</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>PV</td>
          <td>HMP/YOI Pentonville</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>PR</td>
          <td>HMP/YOI Parc</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>ON</td>
          <td>HMP Onley</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>OW</td>
          <td>HMP Oakwood</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>NM</td>
          <td>HMP/YOI Nottingham</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>NW</td>
          <td>HMP/YOI Norwich</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>NL</td>
          <td>HMP Northumberland</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>NS</td>
          <td>HMP North Sea Camp</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>NH</td>
          <td>HMP/YOI New Hall</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>MH</td>
          <td>HMIRC Morton Hall</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>MD</td>
          <td>HMP/YOI Moorland</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>MW</td>
          <td>Medway STC</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>MR</td>
          <td>HMP/YOI Manchester</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>MS</td>
          <td>HMP Maidstone</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LG</td>
          <td>HMP Lowdham Grange</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LN</td>
          <td>HMP/YOI Low Newton</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LL</td>
          <td>HMP Long Lartin</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LP</td>
          <td>HMP Liverpool</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LT</td>
          <td>HMP Littlehey</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LH</td>
          <td>HMP Lindholme</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LI</td>
          <td>HMP/YOI Lincoln</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LY</td>
          <td>HMP Leyhill</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LW</td>
          <td>HMP/YOI Lewes</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LC</td>
          <td>HMP Leicester</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LE</td>
          <td>HMP Leeds</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>LF</td>
          <td>HMP Lancaster Farms</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>KV</td>
          <td>HMP/YOI Kirklevington Grange</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>KM</td>
          <td>HMP Kirkham</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>IW</td>
          <td>HMP/YOI Isle of Wight</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>IS</td>
          <td>HMP/YOI Isis</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HC</td>
          <td>HMP Huntercombe</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HM</td>
          <td>HMP Humber</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HL</td>
          <td>HMP/YOI Hull</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HH</td>
          <td>HMP/YOI Holme House</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HB</td>
          <td>HMP/YOI Hollesley Bay</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HI</td>
          <td>HMP/YOI Hindley</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HP</td>
          <td>HMP Highpoint</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HO</td>
          <td>HMP/YOI High Down</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HE</td>
          <td>HMP/YOI Hewell</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HV</td>
          <td>HMP Haverigg</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>HD</td>
          <td>HMP/YOI Hatfield</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>GM</td>
          <td>HMP Guys Marsh</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>GN</td>
          <td>HMP Grendon/Spring Hill</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>GP</td>
          <td>HMP/YOI Glen Parva</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>GT</td>
          <td>HMP Gartree</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>GH</td>
          <td>HMP Garth</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>FN</td>
          <td>HMP Full Sutton</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>FK</td>
          <td>HMP Frankland</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>FH</td>
          <td>HMP/YOI Foston Hall</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>FB</td>
          <td>HMP/YOI Forest Bank</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>FD</td>
          <td>HMP Ford</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>FM</td>
          <td>HMYOI Feltham</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>FS</td>
          <td>HMP Featherstone</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>EX</td>
          <td>HMP/YOI Exeter</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>EE</td>
          <td>HMP Erlestoke</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>EY</td>
          <td>HMP/YOI Elmley</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>EW</td>
          <td>HMP/YOI Eastwood Park</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>ES</td>
          <td>HMP/YOI East Sutton Park</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>DM</td>
          <td>HMP/YOI Durham</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>DH</td>
          <td>HMP/YOI Drake Hall</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>DW</td>
          <td>HMP/YOI Downview</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>DG</td>
          <td>HMP Dovegate</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>DN</td>
          <td>HMP/YOI Doncaster</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>DT</td>
          <td>HMYOI Deerbolt</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>DA</td>
          <td>HMP Dartmoor</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>CK</td>
          <td>HMYOI Cookham Wood</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>CL</td>
          <td>HMP Coldingley</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>CD</td>
          <td>HMP/YOI Chelmsford</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>CW</td>
          <td>HMP Channings Wood</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>CF</td>
          <td>HMP/YOI Cardiff</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BR</td>
          <td>HMP Bure</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BN</td>
          <td>HMP/YOI Bullingdon</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BC</td>
          <td>HMP Buckley Hall</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BZ</td>
          <td>HMP/YOI Bronzefield</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BX</td>
          <td>HMP Brixton</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BL</td>
          <td>HMP/YOI Bristol</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BS</td>
          <td>HMP/YOI Brinsford</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BH</td>
          <td>HMP Blantyre House</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BM</td>
          <td>HMP Birmingham</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BW</td>
          <td>HMP/YOI Berwyn</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BA</td>
          <td>HMP/YOI Belmarsh</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>BF</td>
          <td>HMP/YOI Bedford</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>AY</td>
          <td>HMYOI Aylesbury</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>AG</td>
          <td>HMP/YOI Askham Grange</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>AS</td>
          <td>HMP Ashfield</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          <tr><td>AC</td>
          <td>HMP/YOI Altcourse</td>
          <td class="not-found">No data found</td>
          <td class="not-found">No data found</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock %}
